<html>
  <head>
    <title>Dojo Secrets</title>
  </head>
  <body>
    <h1>Hello, {{logged_in_user.first_name}}</h1>
    <a href="/logout">Log Out</a>
    <form action="new_secret" method="POST">
      {% csrf_token %}
      <textarea name="content"></textarea>
      <input type="hidden" name="user_id" value="{{logged_in_user.id}}">
      <input type="submit" name="Post">
    </form>
    <a href="/popular">Most Popular Secrets</a>
    <h1>Recent Secrets...</h1>
    {% for secret in secrets %}
    <p>{{ secret.content }}
      {{ secret.created_at }}
      {{ secret.likes.count }} {% if secret.likes.count == 1 %} like {% else %} likes {% endif %}
      {% if secret.user_id.id == logged_in_user.id %}
        You posted this. <a href="/delete/{{secret.id}}">Delete</a>
        {% endif %}
      {%if secret.user_id.id != logged_in_user.id %}
        {% if secret.liked_by_user %}
        You liked this.
        {% else %}
          <a href="/like/{{secret.id}}">Like</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </p>
  </body>
</html>
